body {
    background-color: rgb(21, 93, 171);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: rgba(255, 255, 255, 0.557);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 5px 10px black;
}
div{
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}

